#titulo-h2{
    color:darkorange;
}


.fundo-gray{
    background: slategray;
}
h2 {color:darkslateblue;}

.texto-vermelho{
    color: red;
}

p{
    color: steelblue;
}

h2 {color: brown ;}

/* cascate */